# Ignore virtual environment
/mypg_env/

# Ignore Django migrations
/backend/my_pg/db.sqlite3
/backend/my_pg/__pycache__/
/backend/my_pg/*/migrations/
/backend/my_pg/env/
/backend/my_pg/my_pg/__pycache__/

# Ignore node_modules
/frontend/my-pg-frontend/node_modules/
